---
import commentBubbleSrc from "../icons/comment-bubble.svg";
import VisuallyHidden from "./util/VisuallyHidden.astro";

export interface Props {
  count: number;
  postId: string;
}

const { count, postId } = Astro.props;
---

<a
  href={`/posts/${postId}`}
  class="flex items-center gap-1 transition-colors hover:bg-pill-background px-2 py-1 rounded-lg h-max"
>
  <VisuallyHidden>View {count} post comments</VisuallyHidden>
  <img src={commentBubbleSrc} alt="" class="w-[18px]" aria-hidden="true" />
  <span class="post-meta-attribute" aria-hidden="true">{count}</span>
</a>
