---
import { Icon } from "astro-icon";
import VisuallyHidden from "./util/VisuallyHidden.astro";

export interface Props {
  count: number;
}

const { count } = Astro.props;
---

<div
  class={" px-3 md:px-[9px] md:pt-[10px] py-[6px] bg-pill-background w-max flex gap-[10px] items-center rounded-lg md:flex-col"}
>
  <Icon name="chevron-up" class="w-3" />
  <span class="post-meta-attribute"
    >{count || 0} <VisuallyHidden>Upvotes</VisuallyHidden>
  </span>
</div>
