---
const { pageName } = Astro.props;
---

<div
  class="bg-header-gradient rounded-xl bg-cover bg-center py-6 px-[46px] flex justify-end flex-col gap-1 xl:h-[137px] xl:px-6 h-full"
>
  <h1
    class="text-white font-bold text-4xl tracking-[-0.25px] block capitalize xl:text-xl"
  >
    {pageName}
  </h1>
  <span class="block text-white opacity-75 font-medium text-base"
    >Scott's HN</span
  >
</div>
